@import './node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,900,300,700);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,700,500,300);

$font-family-content: 'Merriweather', serif;
$font-family-headers: 'Fira Sans', sans-serif;

.container {
    width: 1000px;
}

#welcome {

    .content p {
        width: 400px;
        margin: 3em auto;
        font-family: $font-family-content;
        font-size: 1.5em;
        font-weight: lighter;
        line-height: 1.4em;
    }

}

#resume {
    @extend .row;
}

.header {
    @extend .row;

    #introduction {
        float: left;
        margin-bottom: 5em;
    }

    #photograph {
        float: right;
        text-align: right;
    }
}

.header {
    padding-top : 1em;
    padding-bottom: 1em;
    h1 {
        font-family: $font-family-headers;
        font-size: 1.5em;
    }
    dl {
        @extend .dl-horizontal;
    }
    address {
        margin-bottom: 0;
    }
}



h2 {
    @extend .text-uppercase;
    font-family: $font-family-headers;
    font-size: 1.3em;
}

h2::first-letter {
    font-size: 1.3em;
}


h3 {
    font-family: $font-family-headers;
    font-size: 1.5em;
}

#technical-competences {
    float: left;
    width: 350px;
    padding: 0 1.5em 0 1.5em;
    background-color: $gray-lighter;
    p {
        font-family: $font-family-content;
        font-size: 0.85em;
        font-weight: lighter;
        margin-bottom: 3em;
    }

    h3 {
        font-family: $font-family-headers;
        font-size: 1.3em;
    }

    .languages,
    .hobbies,
    .conferences,
    .formation {
        margin-top: 14.3em;
    }




    dl.formations {
        @extend .dl-horizontal;

        margin-left: -6.5em;

        dt, dd {
            padding-top: 1.5em;
        }

        dd {
            font-family: $font-family-content;
            font-weight: lighter;
            font-size: 0.9em;
            line-height: 1.6em;

            .location {
                font-weight: bolder;
            }
        }
    }

}

#experience {
    float: right;
    width: 650px;
    padding: 0 0 0 1.5em;

    .experience {

        margin: 3em 0;
        line-height: 1.4em;

        span {
            font-family: $font-family-content;
            color: $gray-light;
            font-size: 0.8em;
            font-weight: 400;;
            line-height: 0.8em;
        }

        ul {
            margin: 2em 0 1em 0;
        }

        li {
            font-family: $font-family-content;
            font-size: 0.9em;
            font-weight: 300;
            line-height: 1.6em;
            margin-bottom: 0.3em;
        }

        h5 {
            font-weight: bold;
            font-size: 1em;
            line-height: 0.5em;
        }

        p {
            font-family: $font-family-content;
            font-size: 0.9em;
            font-weight: 300;
        }

    }
}

#cover-letter {

    p#subject {
        font-weight: 800;
        text-indent: 3em;
    }

    p {
        font-family: $font-family-content;
        text-indent: 3em;
        font-size: 1.2em;
        margin: 2em;
    }

    ul {
        margin: 0 6em;
        li {
            font-family: $font-family-content;
            font-size: 1.2em;
            margin: 0.8em 0;
        }
    }
}
