doctype xml
html
    head
        title Maxime Wojtczak   
        link(href="styles/styles.css", rel="stylesheet")

    body
        div#welcome.container
            div.jumbotron
                h1 Hello, World
                p I am a software engineer. 
            
            div.content
                    
                p I was 15 when I built my first website about softwares and games for TI calculators, using Perl, CGI-BIN and flat-file database.
                
                p Since then, I never stopped to learn about code, with a strong interest about internet technologies and websites.
                
                p I like the idea of listening to users, proposing ideas, and bringing better tools to them to make it easier to perform their tasks.
                
                p My focus is now on Java/Spring for back-end and Javascript for front-end developments.
                
                p I currently live in Lille, France, and am also an avid traveller, climber and photographer.
                
                p Check my <a href="resume_en.html">résumé in english</a> or <a href="resume_fr.html">french</a>.
