doctype xml
html
    head
        title Maxime Wojtczak - Curriculum Vitæ
        link(href="styles/styles.css", rel="stylesheet")

    body
    
        div.container
        
            div.header
            
                div#introduction
                
                    div.name
                        h1 Maxime Wojtczak <small> - Ingénieur d'Études et Développement</small>

                    div.contact
                        dl
                            dt Email
                            dd maximewojtczak@laposte.net
                            dt Téléphone
                            dd +33 6 27 09 12 72
                            dt Adresse
                            dd
                                address
                                    div Appartement 212
                                    div 9 rue du Béguinage
                                    div 59000 Lille
                                    div FRANCE
                            dt Nationalité
                            dd Française
                            
                div#photograph
                        
                    img(src="images/maxime-wojtczak.png")

            div#resume

                div#technical-competences

                    div#competences-list

                        h2 Compétences techniques

                        div#competences-java.competences
                            h3 Java
                            p
                                strong JEE, 
                                strong Spring, 
                                strong Hibernate, 
                                span Maven, 
                                span JSP, 
                                span Servlet.

                        div#competences-javascript.competences
                            h3 Javascript
                            p
                                strong ECMAScript 2015, 
                                strong jQuery, 
                                strong AngularJS, 
                                strong Gulp, 
                                span Grunt, 
                                span RequireJS, 
                                strong Jasmine, 
                                strong ESLint, 
                                span Express, 
                                span Browserify, 
                                span ReactJS/Flux.

                        div#competences-web.competences
                            h3 Web
                            p
                                strong HTML5, 
                                span CSS3, 
                                strong Bootstrap.

                        div#competences-script.competences
                            h3 Langages de script
                            p
                                span Bash, 
                                strong Perl.

                        div#competences-design.competences
                            h3 Conception d'application
                            p
                                span UML, 
                                strong Conception Orientée Objet, 
                                strong Design Patterns, 
                                strong Javascript modulaire et orienté objet.

                        div#competences-services.competences
                            h3 Conception de services
                            p
                                span JAX-WS, 
                                strong CXF, 
                                span XFire, 
                                strong principes RESTful.

                        div#competences-databases.competences
                            h3 Base de données
                            p
                                strong MySQL, 
                                span Oracle.

                        div#competences-application-servers.competences
                            h3 Serveurs d'application
                            p
                                strong Tomcat, 
                                span NodeJS.

                        div#competences-application-servers.competences
                            h3 Gestion de versions
                            p
                                strong Git, 
                                span Mercurial, 
                                span SVN, 
                                span CVS.

                        div#competences-security.competences
                            h3 Sécurité
                            p
                                span OpenSSL, 
                                strong Cartes à puce, 
                                strong PKCS#11.

                        div#competences-os.competences
                            h3 Systèmes d'exploitation
                            p
                                strong Windows, 
                                strong Mac OS X, 
                                span Linux.

                    div.languages
                        h2 Langues
                        p Français (langue maternelle), Anglais (courant).

                    div.hobbies
                        h2 Centres d'intérêt
                        p Escalade, Course à pied, Photographie, Calligraphie et Peinture asiatique.

                div#experience

                    h2 Expérience professionnelle

                    h3.employer Worldline by AtoS

                    div.experience
                        span.period Septembre 2015 - Aujourd'hui
                        span.separator -
                        span.business-unit Ministères et Projets d'États
                        h5 Responsable d'Application
                        ul
                            li Conception et développement d'une interface de traitement d'infractions routières pour le Grand-Duché du Luxembourg ;
                            li Implémentation dans l'<strong>état de l'art</strong> d'une application front-end Javascript ;
                            li <strong>Présentation</strong> technique et fonctionnelle du projet au client ;
                            li Création de composants <strong>réutilisables</strong>.

                    div.experience
                        span.period Octobre 2013 - Août 2015
                        span.separator -
                        span.business-unit Ministères et Projets d'États
                        h5 Responsable d'Application
                        ul
                            li Conception et développement d'une interface de saisie d'infractions pour l'État Français;
                            li Implémentation d'un framework front-end et middle de validation de <strong>règles métiers complexes</strong> ;
                            li Création de composants <strong>réutilisables</strong>.

                    div.experience
                        span.period Janvier 2012 - Septembre 2013
                        span.separator -
                        span.business-unit Ministères et Projets d'États
                        h5 Ingénieur d'Étude et Développement
                        ul
                            li <strong>Prototypage</strong> d'une chaîne de traitement de déclaration d'impôts pour la DGFiP ;
                            li Conception et implémentation d'une interface de vidéocodage pour des utilisateurs intensifs ;
                            li Analyses permettant la gestion d'une <strong>large quantité de données</strong>.

                    div.experience
                        span.period Septembre 2011 - Décembre 2011
                        span.separator -
                        span.business-unit Télécommunications, Utilitaires et Medias
                        h5 Ingénieur d'Étude et Développement
                        ul
                            li Implémentation d'utilitaires pour <strong>automatiser</strong> le déploiement d'applications entre différents environnements pour SFR-Vodafone ;
                            li Développement d'un utilitaire de routage de file de traitement entre différents environnements.


                    h3.employer AtoS

                    div.experience
                        span.period Février 2008 - Août 2011
                        span.separator -
                        span.business-unit Ministères et Projets d'États
                        h5 Ingénieur d'Étude et Développement
                        ul
                            li Prototypage, conception et développement d'un intranet de gestion d'infractions pour l'État français ;
                            li Présentation du projet à un panel d'utilisateurs finaux ;
                            li <strong>Assistance et suivi</strong> sur site lors du déploiement.

                    div.experience
                        span.period Octobre 2007 - Janvier 2008
                        span.separator -
                        span.business-unit Télécommunications, Utilitaires et Médias
                        h5 Ingénieur d'Étude et Développement
                        ul
                            li Implémentation de nouvelles fonctionnalités dans le webmail Orange.

                    div.experience
                        span.period Juillet 2007 - Septembre 2007
                        span.separator -
                        span.business-unit Retail et Industries
                        h5 Ingénieur d'Étude et Développement
                        ul
                            li <strong>Refactoring et intégration</strong> de la nouvelle charge graphique du site AuchanDrive.

                    div.experience
                        span.period Septembre 2006 - Juin 2007
                        span.separator -
                        span.business-unit Ministères et Projets d'États
                        h5 Ingénieur d'Étude et Développement
                        ul
                            li Conception et développement d'<strong>indicateurs statistiques</strong> pour assister les équipes de suivi de projet et de qualité ;
                            li Conception et développement d'un intranet d'assistance au déploiement d'équipements de terrain.

                    div.experience
                        span.period Avril 2006 - Août 2007
                        span.separator -
                        span.business-unit Ministères et Projets d'États
                        h5 Stagiaire
                        ul
                            li Développement d'un outil de monitoring de flux entrants/sortants entre différens services publics et prestataires.

                    h3.employer Linbox FAS

                    div.experience
                        span.period Avril 2005 - Septembre 2005
                        h5 Stagiaire
                        ul
                            li Étude de logiciels <strong>open-source</strong> d'inventaire réseau ;
                            li Intégration et adaptation au sein de la solution open-source Linbox.

                    h3.employer Mobile Process

                    div.experience
                        span.period Avril 2003 - Août 2003
                        h5 Stagiaire
                        ul
                            li Implémentation d'une interface de gestion d'accès à une solution VPN.

                    h2 Formation

                    dl.formation
                        dt 2005-2006
                        dd Master Systèmes d'Informations Profesionnels - Option Interactions Humain-Machine.
                            div.location Université de Metz
                        dt 2003-2005
                        dd Maîtrise des Sciences et Techniques des Technologies de l'Information et Communication.
                            div.location Université de Metz
                        dt 2002-2003
                        dd Licence Professionnelle Génie Logiciel en Environnement Réparti.
                            div.location IUT de Metz
                        dt 2000-2002
                        dd BTS Informatique Industrielle.
                            div.location Lycée Jean Zay, Jarny
                            
        <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create', 'UA-78889914-1', 'auto');ga('send', 'pageview');</script>
