doctype xml
html
    head
        title Maxime Wojtczak - Résumé
        link(href="styles/styles.css", rel="stylesheet")

    body

        div.container

            div.header

                div#introduction

                    div.name
                        h1 Maxime Wojtczak <small> - IT Consultant</small>

                    div.contact
                        dl
                            dt Email
                            dd maxime.wojtczak@yahoo.fr
                            dt Phone
                            dd +33 6 27 09 12 72
                            dt Address
                            dd
                                address
                                    div Appartement 212
                                    div 9 rue du Béguinage
                                    div 59000 Lille
                                    div FRANCE
                            dt Nationality
                            dd French

                div#photograph

                    img(src="images/maxime-wojtczak.jpg")

            div#resume

                div#technical-competences

                    div#competences-list

                        h2 Technical skills

                        div#competencs-devops.competences
                            h3 Deployment &amp; Industrialization
                            p
                                strong Docker &amp; containerization, 
                                strong Ansible, 
                                span Elastic Stack, 
                                span OpenShift, 
                                strong Prometheus, 
                                span configuration management, 
                                span Traefik, 
                                span Rancher, 
                                span Jenkins, 
                                strong Gitlab CI.

                        div#competences-java.competences
                            h3 Java
                            p
                                strong Spring Boot &amp; Core, 
                                span Reactor and Reactive Programming, 
                                strong Hibernate, 
                                span JUnit, 
                                span Mockito, 
                                span Wiremock, 
                                span Maven.

                        div#competences-javascript.competences
                            h3 Javascript
                            p
                                strong ECMAScript 2015, 
                                strong jQuery, 
                                strong Angular, 
                                strong AngularJS, 
                                strong Gulp, 
                                span Grunt, 
                                span RequireJS, 
                                strong Jasmine, 
                                strong ESLint, 
                                span Express, 
                                span Browserify.

                        div#competences-databases.competences
                            h3 Databases &amp; Brokers
                            p
                                strong Elasticsearch, 
                                strong Kafka, 
                                span MongoDB, 
                                span MySQL, 
                                span Oracle.

                        div#competences-design.competences
                            h3 Application Design &amp; Methodologies
                            p
                                strong Clean code, 
                                strong OOD, 
                                strong asynchronous and functional programming, 
                                span modular and OO Javascript, 
                                strong Test-Driven Development, 
                                span Design Patterns, 
                                span UML.

                        div#competences-services.competences
                            h3 Webservice frameworks
                            p
                                strong RESTful principles, 
                                strong Spring MVC and Webflux, 
                                span JAX-WS &amp; JAX-RS, 
                                span CXF, 
                                span XFire.

                        div#competences-script.competences
                            h3 Script languages
                            p
                                span Bash, 
                                span Perl.

                        div#competences-application-servers.competences
                            h3 Application Servers
                            p
                                strong Tomcat, 
                                span Jetty, 
                                strong NodeJS.

                        div#competences-versioning.competences
                            h3 Versioning
                            p
                                strong Git, 
                                span Mercurial, 
                                span SVN, 
                                span CVS.

                        div#competences-security.competences
                            h3 Security
                            p
                                span RSA, 
                                span secured environments, 
                                span JWT, 
                                span Smartcards &amp; PKCS#11.

                    div.conferences
                        h2 Conferences
                        p <strong>DevOps Meetup Lille</strong>: Ansible Workshop, with Antoine Barbare;
                        p <strong>Adeo Dev Summit</strong>: Monitoring with Prometheus.

                    div.languages
                        h2 Languages
                        p French (mother tongue), English (fluent).
                        
                    div.formation
                      h2 Formation

                      dl.formations
                          dt 2005-2006
                          dd Master Degree in Professional Information Systems - Human-Computer Interactions.
                              div.location Université de Metz
                          dt 2003-2005
                          dd First year of Master Degree in Information Technologies.
                              div.location Université de Metz
                          dt 2002-2003
                          dd Bachelor Degree in Software Engineering in Distributed Systems.
                              div.location IUT de Metz
                          dt 2000-2002
                          dd Associate Degree in Industrial Software Engineering.
                              div.location Lycée Jean Zay, Jarny

                    div.hobbies
                        h2 Interests
                        p Climbing, Running, Photography, Asian Calligraphy and Painting.

                div#experience

                    h2 Experience

                    h3.employer Zenika

                    div.experience
                        span.period January 2018 - Present 
                        span.separator - 
                        span.business-unit Adeo Group - Leroy Merlin
                        h5 IT Consultant
                        p Leroy Merlin - Software Engineer & DevOps for the API team:
                        ul
                            li Enhancement of Leroy Merlin API & data integration.

                        p Mission:
                        ul
                            li Add new features to a set of API and data restitutions;
                            li Provide code reviews and best practices;
                            li Replatforming of the API from VM deployments to OpenShift deployments.

                    div.experience
                        span.period January 2018 - Present 
                        span.separator - 
                        span.business-unit Adeo Group - SI habitat
                        h5 IT Consultant
                        p SI habitat/customer transformation:
                        ul
                            li Deployment and upgrade of new applications for GDPR conformity.

                        p Mission:
                        ul
                            li Application, middleware and business monitoring;
                            li Deployment automation via Ansible;
                            li RabbitMQ broker set-up, sizing and testing.

                    div.experience
                        span.period January 2017 - December 2017 
                        span.separator - 
                        span.business-unit Boulanger
                        h5 IT Consultant
                        p Boulanger - Socle 3 project:
                        ul
                            li Building fast and highly available APIs for the Boulanger catalog;
                            li Setting up highly available middlewares;
                            li Update of a Spring-based Java Framework;
                            li Reusable technologies proposal for other Boulanger projects.

                        p Mission:
                        ul
                            li Set up of an orchestrator (Rancher);
                            li Application and middleware containerization;
                            li Infrastructure and deployment automatization;
                            li Support and code review.

                    h3.employer Worldline by AtoS

                    div.experience
                        span.period October 2016 - December 2016
                        span.separator -
                        span.business-unit Ministry and State Projects
                        h5 Lead Developer
                        p Imprimerie Nationale - Mobility and Inclusion Card project:
                        ul
                            li Allow people with disabilities to easily manage their disability card requests;
                            li Allow administration to manage disabled citizen requests;
                            li Building an accessible web application.

                        p Mission:
                        ul
                            li Study, set-up of a framework according to accessibility requirements (RGAA 3);
                            li Design and development of a web application and API;
                            li Formation and support of co-workers on Typescript and Angular;
                            li Build process industrialization.

                    div.experience
                        span.period July 2016 - September 2016 
                        span.separator - 
                        span.business-unit Ministry and State Projects
                        h5 Technical Expert - Front-end and API development.

                    div.experience
                        span.period September 2015 - December 2016 
                        span.separator - 
                        span.business-unit Ministry and State Projects
                        h5 Lead Developer
                        ul
                            li Design and development of a speed ticket processing UI for the Great-Duchy of Luxembourg;
                            li <strong>State of the art</strong> implementation of a Javascript front-end application;
                            li Technical and functional <strong>client presentation</strong>.

                    div.experience
                        span.period October 2013 - August 2015 
                        span.separator - 
                        span.business-unit Ministry and State Projects
                        h5 Lead Developer
                        ul
                            li Design and dévelopment of an ticket seizure ticket UI for the French government;
                            li Implementation of a complex business rules validation framework on the front-end and middle-end.

                    div.experience
                        span.period January 2012 - September 2013 
                        span.separator - 
                        span.business-unit Ministry and State Projects
                        h5 Software Engineer
                        ul
                            li <strong>Prototyping</strong> of a tax declaration processing chain for the French government;
                            li Design and implementation of a declaration seizure UI for intensive users;
                            li Analyze to process <strong>large amount of data</strong>.

                    div.experience
                        span.period September 2011 - Décember 2011 
                        span.separator - 
                        span.business-unit Télécommunications, Utilities and Medias
                        h5 Software Engineer
                        ul
                            li Implementation of tools to <strong>automatize</strong> deployment across multiple environments, and routing tool for message processing across them.


                    h3.employer AtoS

                    div.experience
                        span.period February 2008 - August 2011 
                        span.separator - 
                        span.business-unit Ministry and State Projects
                        h5 Software Engineer
                        ul
                            li Prototyping, design, end-user feedback collection, and development of an intranet to manage French traffic tickets;
                            li On-site <strong>assistance and monitoring</strong> during deployment.

                    div.experience
                        span.period October 2007 - January 2008 
                        span.separator - 
                        span.business-unit Télécommunications, Utilities and Medias
                        h5 Software Engineer
                        ul
                            li Implementation of new features for the Orange webmail.

                    div.experience
                        span.period Juillet 2007 - Septembre 2007 
                        span.separator - 
                        span.business-unit Retail et Industries
                        h5 Software Engineer
                        ul
                            li <strong>Refactoring et integration</strong> of a new corporate identity for the AuchanDrive website.

                    div.experience
                        span.period September 2006 - June 2007 
                        span.separator - 
                        span.business-unit Ministry and State Projects
                        h5 Software Engineer
                        ul
                            li Design and development of <strong>statistical indicators</strong> to assist quality and monitoring teams;
                            li Design and development of an intranet to assist remote device deployment.

                    div.experience
                        span.period April 2006 - August 2007 
                        span.separator - 
                        span.business-unit Ministry and State Projects
                        h5 Intern
                        ul
                            li Development of a monitoring tool to follow in/out flows between various public services and companies.

        <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create', 'UA-78889914-1', 'auto');ga('send', 'pageview');</script>
