doctype xml
html
    head
        title Maxime Wojtczak - Résumé
        link(href="styles/styles.css", rel="stylesheet")

    body
    
        div.container
            
            div.header
            
                div#introduction
            
                    div.name
                        h1 Maxime Wojtczak <small> - Senior Software Engineer</small>

                    div.contact
                        dl
                            dt Email
                            dd maximewojtczak@laposte.net
                            dt Phone
                            dd +33 6 27 09 12 72
                            dt Address
                            dd
                                address
                                    div Appartement 212
                                    div 9 rue du Béguinage
                                    div 59000 Lille
                                    div FRANCE
                            dt Nationality
                            dd French
                            
                div#photograph
                
                    img(src="images/maxime-wojtczak.png")

            div#resume

                div#technical-competences

                    div#competences-list

                        h2 Technical skills

                        div#competences-java.competences
                            h3 Java
                            p
                                strong JEE, 
                                strong Spring, 
                                strong Hibernate, 
                                span Maven, 
                                span JSP, 
                                span Servlet.

                        div#competences-javascript.competences
                            h3 Javascript
                            p
                                strong ECMAScript 2015, 
                                strong jQuery, 
                                strong AngularJS, 
                                strong Gulp, 
                                span Grunt, 
                                span RequireJS, 
                                strong Jasmine, 
                                strong ESLint, 
                                span Express, 
                                span Browserify, 
                                span ReactJS/Flux.

                        div#competences-web.competences
                            h3 Web
                            p
                                strong HTML5, 
                                span CSS3, 
                                strong Bootstrap.

                        div#competences-script.competences
                            h3 Script languages
                            p
                                span Bash, 
                                strong Perl.

                        div#competences-design.competences
                            h3 Application Design
                            p
                                span UML, 
                                strong OOD, 
                                strong Design Patterns, 
                                strong modular and OO Javascript.

                        div#competences-services.competences
                            h3 Service Design
                            p
                                span JAX-WS, 
                                strong CXF, 
                                span XFire, 
                                strong RESTful principles.

                        div#competences-databases.competences
                            h3 Databases
                            p
                                strong MySQL, 
                                span Oracle.

                        div#competences-application-servers.competences
                            h3 Application Servers
                            p
                                strong Tomcat, 
                                span NodeJS.

                        div#competences-application-servers.competences
                            h3 Versioning
                            p
                                strong Git, 
                                span Mercurial, 
                                span SVN, 
                                span CVS.

                        div#competences-security.competences
                            h3 Security
                            p
                                span OpenSSL, 
                                strong Smartcards, 
                                strong PKCS#11.

                        div#competences-os.competences
                            h3 Operating Systems
                            p
                                strong Windows, 
                                strong Mac OS X, 
                                span Linux.

                    div.languages
                        h2 Languages
                        p French (mother tongue), English (fluent).

                    div.hobbies
                        h2 Interests
                        p Climbing, Running, Photography, Asian Calligraphy and Painting.

                div#experience

                    h2 Experience

                    h3.employer Worldline by AtoS

                    div.experience
                        span.period September 2015 - Now
                        span.separator -
                        span.business-unit Ministry and State Projects
                        h5 Lead Developer
                        ul
                            li Design and development of a speed ticket processing UI for the Great-Duchy of Luxembourg ;
                            li <strong>State of the art</strong> implementation of a Javascript front-end application ;
                            li Technical and functional <strong>client presentation</strong> ;
                            li Creation of <strong>reusable</strong> components.

                    div.experience
                        span.period October 2013 - August 2015
                        span.separator -
                        span.business-unit Ministry and State Projects
                        h5 Lead Developer
                        ul
                            li Design and dévelopment of an ticket seizure ticket UI for the French government ;
                            li Implementation of a complex business rules validation framework on front-end and middle-end ;
                            li Creation of <strong>reusable</strong> components.

                    div.experience
                        span.period January 2012 - September 2013
                        span.separator -
                        span.business-unit Ministry and State Projects
                        h5 Software Engineer
                        ul
                            li <strong>Prototyping</strong> of a tax declaration processing chain for the French government;
                            li Design and implementation of a declaration seizure UI for intensive users ;
                            li Analyses to process <strong>large amount of data</strong>.

                    div.experience
                        span.period September 2011 - Décember 2011
                        span.separator -
                        span.business-unit Télécommunications, Utilities and Medias
                        h5 Software Engineer
                        ul
                            li Implementation of tools to <strong>automatize</strong> deployment across multiple environments ;
                            li Implementation of routing tools for message processing across multiple environments.


                    h3.employer AtoS

                    div.experience
                        span.period February 2008 - August 2011
                        span.separator -
                        span.business-unit Ministry and State Projects
                        h5 Software Engineer
                        ul
                            li Prototyping, design and development of an intranet to manage French traffic tickets ;
                            li Presentation of the project to end-users ;
                            li On-site <strong>assistance and monitoring</strong> during deployment.

                    div.experience
                        span.period October 2007 - January 2008
                        span.separator -
                        span.business-unit Télécommunications, Utilities and Medias
                        h5 Software Engineer
                        ul
                            li Implementation of new features for the Orange webmail.

                    div.experience
                        span.period Juillet 2007 - Septembre 2007
                        span.separator -
                        span.business-unit Retail et Industries
                        h5 Software Engineer
                        ul
                            li <strong>Refactoring et integration</strong> of a new corporate identity for the AuchanDrive website.

                    div.experience
                        span.period September 2006 - June 2007
                        span.separator -
                        span.business-unit Ministry and State Projects
                        h5 Software Engineer
                        ul
                            li Design and development of <strong>statistical indicators</strong> to assist quality and monitoring teams ;
                            li Design and development of an intranet to assist remote device deployment.

                    div.experience
                        span.period April 2006 - August 2007
                        span.separator -
                        span.business-unit Ministry and State Projects
                        h5 Intern
                        ul
                            li Development of a monitoring tool to follow in/out flows between various public services and companies.

                    h3.employer Linbox FAS

                    div.experience
                        span.period April 2005 - September 2005
                        h5 Intern
                        ul
                            li Study of network inventory <strong>open-source</strong> softwares ;
                            li Adaptation and integration into the Linbox open-source solution.

                    h3.employer Mobile Process

                    div.experience
                        span.period April 2003 - August 2003
                        h5 Intern
                        ul
                            li Implementation of an UI to manage VPN over GPRS accesses.

                    h2 Formation

                    dl.formation
                        dt 2005-2006
                        dd Master Degree in Professional Information Systems - Human-Computer Interactions.
                            div.location Université de Metz
                        dt 2003-2005
                        dd First year of Master Degree in Information Technologies.
                            div.location Université de Metz
                        dt 2002-2003
                        dd Bachelor Degree in Software Engineering in Distributed Systems.
                            div.location IUT de Metz
                        dt 2000-2002
                        dd Associate Degree in Industrial Software Engineering.
                            div.location Lycée Jean Zay, Jarny
                            
        <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create', 'UA-78889914-1', 'auto');ga('send', 'pageview');</script>
