div#technical-competences

    div#competences-list

        h2 Technical skills

        div#competencs-devops.competences

        div#competences-java.competences
            h3 Development
            p
                strong Java
                strong Javascript (ES2015)
                span Golang
                strong Spring Framework
                strong Reactor
                span Hibernate
                span JUnit
                span Maven
                strong Angular
                strong AngularJS
                strong Jasmine
                strong Gulp
                span ESLint
                span Grunt

            h3 Deployment &amp; Industrialization
            p
                strong Docker &amp; Containerization
                strong Ansible
                strong Gitlab CI
                span Circle CI
                span Elastic Stack
                span OpenShift
                strong Prometheus
                span Configuration Management
                span Traefik
                span Rancher
                span Jenkins

        div#competences-databases.competences
            h3 Databases &amp; Brokers
            p
                strong Elasticsearch
                strong Kafka
                span MongoDB
                span MySQL
                span Oracle

        div#competences-design.competences
            h3 Software Design &amp; Methodologies
            p
                strong Clean Code
                span Code Reviews
                strong Reactive programming
                strong Test-Driven Development
                span Design Patterns

        div#competences-services.competences
            h3 Webservice frameworks
            p
                strong RESTful principles
                strong Microservice Architecture
                strong Spring MVC and Webflux
                span JAX-WS &amp; JAX-RS
                span SOAP

        div#competences-versioning.competences
            h3 Versioning
            p
                strong Git
                span Mercurial
                span Branching models (Gitflow &amp; Github flow)

        div#competences-security.competences
            h3 Security
            p
                span RSA
                span secured environments
                span JWT
                span Smartcards &amp; PKCS#11

    div.conferences
        h2 Conferences
        dl
          dt Ansible Workshop, with Antoine Barbare
          dd
            div.informations
              div.meetup DevOps Meetup
              div.date June, 7th 2018
            p.description
              | Hands-on workshop on Ansible. After an overview of Ansible advantages and principles,
              | attendees could then make their first steps with this Infrastructure as Code
              | tool.

          dt Monitoring with Prometheus
          dd 
            div.informations
              div.meetup Adeo Dev Summit
              div.date June, 27th 2018
            p.description
              | Introducing and promoting Prometheus as a way to monitor containerized 
              | applications running in orchestrators, and how developers may add
              | performance as well as business metrics in their applications.

    div.languages
        h2 Languages
        p French
        div.progress
          div.progress-bar(role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100") Native language

        p English
        div.progress
          div.progress-bar(role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100") Fluent

    div.formation
      h2 Education

      dl.formations
          dt 2005-2006
          dd Master Degree in Professional Information Systems - Human-Computer Interactions.
              div.location Université de Metz
          dt 2003-2005
          dd First year of Master Degree in Information Technologies.
              div.location Université de Metz
          dt 2002-2003
          dd Bachelor Degree in Software Engineering in Distributed Systems.
              div.location IUT de Metz
          dt 2000-2002
          dd Associate Degree in Industrial Software Engineering.
              div.location Lycée Jean Zay, Jarny

    div.hobbies
        h2 Interests
        dl
            dt Chinese Calligraphy
            dd Ancient Art focused on attention to details, practice and balance.
            
            dt Climbing/Bouldering
            dd Versatile sport involving physical and problem-solving skills.

            dt Photography
            dd Creative Art requiring technical knowledge and graphical composition.

