div#technical-competences

    div#competences-list

        h2 Technical skills

        div#competencs-devops.competences

        div#competences-java.competences
            h3 Development
            p
                strong Java
                strong Javascript
                strong VueJS
                span Golang
                strong Spring Framework
                strong Reactor
                strong Gulp
                span Angular
                strong AngularJS
                span Hibernate
                span JUnit
                span Maven


            h3 Deployment &amp; Industrialization
            p
                strong Docker &amp; Containerization
                span OpenShift
                span GCP
                strong Datadog
                strong Terraform
                strong Elastic Stack
                strong Ansible
                strong Gitlab CI
                span Circle CI
                strong Prometheus
                span Traefik
                span Jenkins
                span Configuration Management

        div#competences-databases.competences
            h3 Databases &amp; Brokers
            p
                strong Elasticsearch
                strong Kafka
                strong MongoDB
                span MySQL
                span Oracle

        div#competences-design.competences
            h3 Software Design &amp; Methodologies
            p
                strong Clean Code
                span Code Reviews
                strong Reactive programming
                strong Test-Driven Development
                span Design Patterns

        div#competences-services.competences
            h3 Webservice frameworks
            p
                strong RESTful principles
                strong Microservice Architecture
                strong Spring MVC and Webflux
                span JAX-WS &amp; JAX-RS
                span SOAP

        div#competences-versioning.competences
            h3 Versioning
            p
                strong Git
                span Branching models (Gitflow &amp; Github flow)

        div#competences-security.competences
            h3 Security
            p
                span RSA
                span secured environments
                span Smartcards &amp; PKCS#11

    div.conferences
        h2 Conferences &amp; Trainings
        dl
          dt Elasticsearch
          dd 
            p.description
              | Training on Elasticsearch fundamentals, from indexation, analyze to search and
              | suggestion queries as well as advanced functionalities.

          dt Monitoring with Prometheus
          dd 
            div.informations
              div.meetup Adeo Dev Summit
              div.date June, 27th 2018
            p.description
              | Introducing and promoting Prometheus as a way to monitor containerized 
              | and orchestrated applications and how developers can add
              | performance as well as business metrics in their applications.

          dt Ansible Workshop
          dd
            div.informations
              div.meetup DevOps Meetup
              div.date June, 7th 2018
            p.description
              | Hands-on workshop on Ansible. After an overview of Ansible advantages and principles,
              | attendees could then make their first steps with this Infrastructure as Code
              | tool.

    div.languages
        h2 Languages
        p French
        div.progress
          div.progress-bar(role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100") Native language

        p English
        div.progress
          div.progress-bar(role="progressbar" style="width: 100%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100") Fluent

    div.formation
      h2 Education &amp; Certifications

      dl.formations
          dd Machine Learning Online Training.
              div.location 2021 - Coursera
          dd Master Degree in Professional Information Systems - Human-Computer Interactions.
              div.location 2003-2006 - Université Paul Verlaine, Metz
          dd Bachelor Degree in Software Engineering in Distributed Systems.
              div.location 2002-2003 - IUT de Metz
          dd Associate Degree in Industrial Software Engineering.
              div.location 2000-2002 - Lycée Jean Zay, Jarny

    div.hobbies
        h2 Interests
        p.interests
          | Chinese calligraphy and painting, climbing/bouldering, travel and photography.
