div#technical-competences

    div#competences-list

        h2 Compétences Techniques

        div#competencs-devops.competences

        div#competences-java.competences
            h3 Développement
            p
                strong Java
                strong Javascript
                strong VueJS
                span Golang
                strong Spring Framework
                strong Reactor
                strong Gulp
                span Angular
                strong AngularJS
                span Hibernate
                span JUnit
                span Maven


            h3 Déploiement &amp; Industrialisation
            p
                strong Docker &amp; Containerisation
                span OpenShift
                span GCP
                strong Datadog
                strong Terraform
                strong Elastic Stack
                strong Ansible
                strong Gitlab CI
                span Circle CI
                strong Prometheus
                span Traefik
                span Jenkins
                span Configuration Management

        div#competences-databases.competences
            h3 Bases de Données &amp; Brokers
            p
                strong Elasticsearch
                strong PostgreSQL
                strong Kafka
                strong MongoDB
                span MySQL
                span Oracle

        div#competences-design.competences
            h3 Conception Logicielle &amp; Méthodologies
            p
                strong Clean Code
                span Revue de code
                strong Programmation réactive
                strong Test-Driven Development
                span Design Patterns

        div#competences-services.competences
            h3 Framework webservice
            p
                strong RESTful principles
                strong Microservice Architecture
                strong Spring MVC and Webflux
                span JAX-WS &amp; JAX-RS
                span SOAP

        div#competences-versioning.competences
            h3 Versioning
            p
                strong Git
                span Gestion de branches (Gitflow &amp; Github flow)

        div#competences-security.competences
            h3 Securité
            p
                span RSA
                span environnements sécurisés
                span Smartcards &amp; PKCS#11

    div.conferences
        h2 Conférences &amp; Formations
        dl
          dt Elasticsearch
          dd 
            p.description
              | Formation sur les fondamentaux d'ElasticSearch, de l'indéxation et l'analyse à la
              | recherche texte et aux fonctionnalités avancées.

          dt Monitoring avec Prometheus
          dd 
            div.informations
              div.meetup Adeo Dev Summit
              div.date 27 Juin 2018
            p.description
              | Introduction et promotion de Prometheus comme moyen de monitorer
              | les applications orchestrées et contenerisées, et d'instrumenter les applications
              | avec des métriques de performance et métier.

          dt Workshop Ansible
          dd
            div.informations
              div.meetup Meetup DevOps 
              div.date 7 Juin 2018
            p.description
              | Atelier Ansible. Après avoir donné un aperçu des principes et des avantages d'Ansible,
              | le public pouvait faire ses premiers pas dans l'Infrastructure as Code.

    div.languages
        h2 Langues
        p Français
        div.progress
          div.progress-bar(role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100") Langue maternelle

        p Anglais
        div.progress
          div.progress-bar(role="progressbar" style="width: 100%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100") Courant

    div.formation
      h2 Formation &amp; Certifications

      dl.formations
          dd Machine Learning Online Training.
              div.location 2021 - Coursera
          dd Master Systèmes d'Informations Profesionnels - Option Interactions Humain-Machine.
              div.location 2003-2006 - Université Paul Verlaine, Metz
          dd Licence Professionnelle Génie Logiciel en Environnement Réparti.
              div.location 2002-2003 - IUT de Metz
          dd BTS en Informatique Industrielle.
              div.location 2000-2002 - Lycée Jean Zay, Jarny

    div.hobbies
        h2 Intérêts
        p.interests
          | Calligraphie Chinoise et Japonaise, Escalade, Photo et Voyages.
