div#experience

    h2 Experience

    div.zenika

        h3.employer Zenika - IT Consultant &amp; Trainer

        div.experience
            span.period June 2018 - Present 
            span.separator - 
            span.business-unit Adeo Group - Leroy Merlin
            p Leroy Merlin - DevOps for the Service Platform:
            ul
                li
                  | As part of a transverse team, providing expertise, tooling and best practices for cloud
                  | deployment of Leroy Merlin newest services.

            p Mission:
            ul
                li <strong>Automation and industrialization</strong> of development pipelines;
                li <strong>GCP and Openshift</strong> infrastructure architecture and automation.

        div.experience
            span.period November 2018 - Present 
            span.separator - 
            span.business-unit Adeo Group - Leroy Merlin
            p Leroy Merlin - Software Engineer &amp; DevOps for the API team:
            ul
                li Enhancement of Leroy Merlin high-traffic API &amp; data integrations.

            p Mission:
            ul
                li 
                  | <strong>Seamless migration</strong> of the Leroy Merlin stock API to make stock integrations 
                  | and restitutions more reliable;
                li Provide <strong>code reviews and best practices</strong> for maintenaibility and fast API;
                li Replatforming of the API from VM deployments to <strong>OpenShift deployments</strong>.

        div.experience
            span.period January 2018 - November 2018 
            span.separator - 
            span.business-unit Adeo Group - SI habitat
            p DevOps for the SI habitat/customer transformation:
            ul
                li Deployment and upgrade of new applications for GDPR conformity.

            p Mission:
            ul
                li <strong>Application, middleware and business monitoring</strong> set-up;
                li <strong>Automation</strong> via Ansible to handle deployment accross several countries;
                li Stack configuration for Rancher orchestrator;
                li RabbitMQ broker set-up, sizing and load-testing.

        div.experience
            span.period January 2017 - December 2017 
            span.separator - 
            span.business-unit Boulanger
            p Boulanger - Socle 3 project:
            ul
                li Build <strong>fast and highly available API</strong> for the Boulanger retail company;
                li Set-up <strong>highly available middlewares</strong>;
                li Update of a Spring-based Java Framework;
                li Reusable technologies proposal for future Boulanger products and services.

            p Mission:
            ul
                li Set-up of a Rancher <strong>orchestrator</strong>;
                li Application and middleware <strong>containerization</strong> via Docker;
                li Fully automation of infrastructure and deployment;
                li Provide <strong>support and code reviews</strong>.

    div.worldline

        h3.employer Worldline - Lead Developer

        div.experience
            span.period October 2016 - December 2016
            span.separator -
            span.business-unit Ministry and State Projects
            p Imprimerie Nationale - Mobility and Inclusion Card project:
            ul
                li Allow people with disabilities to easily manage their disability card requests;
                li Allow public services to manage citizen requests;
                li Building an accessible web application.

            p Mission:
            ul
                li Study and set-up of a framework reaching accessibility requirements (RGAA 3);
                li <strong>Design and development of web applications and API</strong>;
                li <strong>Training and support</strong> of co-workers on Typescript and Angular;
                li Build process <strong>industrialization</strong>.

        div.experience.july-2016
            span.period July 2016 - September 2016 
            span.separator - 
            span.business-unit Ministry and State Projects
            h5 Technical Expert - Front-end and API development.

        div.experience
            span.period September 2015 - December 2016 
            span.separator - 
            span.business-unit Ministry and State Projects
            p Ponts et Chaussée ministry - Great-Duchy of Luxembourg
            ul
                li Creation of an automated ticket processing system.
            p Mission:
            ul
                li Design and development of a speed ticket processing UI;
                li <strong>State of the art</strong> implementation of a Javascript front-end application and Spring API;
                li Technical and functional <strong>client presentations, and feedback gathering</strong>.

        div.experience
            span.period October 2013 - August 2015 
            span.separator - 
            span.business-unit Ministry and State Projects
            ul
                li Design and development of a ticket seizure UI for the French government;
                li Organization and implementation of complex business rules thanks to a validation framework on the front-end and middle-end.

        div.experience
            span.period January 2012 - September 2013 
            span.separator - 
            span.business-unit Ministry and State Projects
            ul
                li <strong>Prototyping</strong> of a tax declaration processing chain for the French government;
                li Design and implementation of a declaration seizure UI, for intensive users;
                li Analyze and optimizations to process <strong>large amounts of data</strong>.

        div.experience
            span.period September 2011 - Décember 2011 
            span.separator - 
            span.business-unit Télécommunications, Utilities and Medias
            ul
                li Implementation of tools to <strong>automatize</strong> deployment across multiple environments.
                li Creation of a routing tool for message processing accross several testing environments.

    div.atos

        h3.employer Atos Worldline - Software Engineer

        div.experience
            span.period February 2008 - August 2011 
            span.separator - 
            span.business-unit Ministry and State Projects
            h5 Software Engineer
            ul
                li Prototyping, design, development and end-user feedback collection of an intranet to manage French traffic tickets;
                li On-site <strong>assistance and monitoring</strong> during deployment.

        div.experience
            span.period October 2007 - January 2008 
            span.separator - 
            span.business-unit Télécommunications, Utilities and Medias
            h5 Software Engineer
            ul
                li Implementation of new features for the Orange webmail.

        div.experience
            span.period July 2007 - September 2007 
            span.separator - 
            span.business-unit Retail et Industries
            h5 Software Engineer
            ul
                li <strong>Refactoring et integration</strong> of a new corporate identity for the AuchanDrive website.

        div.experience
            span.period September 2006 - June 2007 
            span.separator - 
            span.business-unit Ministry and State Projects
            h5 Software Engineer
            ul
                li Design and development of <strong>statistical indicators</strong> to assist quality and monitoring teams;
                li Design and development of an intranet to assist remote device deployment.
