div#experience

    h2 Experience

    div.zenika

        h3.employer Zenika - Consultant &amp; Formateur

        div.experience
            span.period Novembre 2018 - Présent 
            span.separator - 
            span.business-unit Groupe Adeo - Leroy Merlin
            p Ingénieur Logiciel &amp; DevOps pour la Team API

            p.short-description
                | Évolutions and conception des API hautement disponibles et à fort traffic, des pipelines d'intégration 
                | de données, et des services aux clients :

            ul
                li Migration de l'API des stock afin de <strong>fiabiliser</strong> l'intégration et la restitution des stocks ;
                li <strong>Conception et développement</strong> de l'intégration des produits de la Marketplace de Leroy Merlin ;
                li <strong>Revues de code et bonnes pratiques</strong> pour la maintenant et la performance des API ;
                li <strong>Automatisation et industrialisation</strong> des pipelines de build et déploiement ;
                li Migration, architecture et déploiement des application pour <strong>GKE et Openshift</strong> ;
                li Spécification et implémentaiton du <strong>monitoring et des Service Level Objectives</strong>.

            p.short-description
              | Création d'une plateforme d'intégration de données des partenaires et des équipes internes :

            ul
                li Utilisation des <strong>API métier et des topics Kafka</strong> pour récupérer et transformer des données ;
                li <strong>Revues de code</strong> et <strong>pair-programming</strong> sur la maintenabilité et la performance ;
                li Automatisation du déploiement des flux de données sur Openshift et GKE.

        div.experience
            span.period Janvier 2018 - Novembre 2018 
            span.separator - 
            span.business-unit Groupe Adeo - Référentiel Habitant
            p DevOps pour la transformation du système de gestion client
            p.short-description
                | Déploiement et mise à niveau des applications pour la mise en conformité au GDPR 
                | des applications de gestion des clients :

            ul
                li Installation et bonnes pratiques pour le <strong>monitoring des applications, des middles et d'indicateurs métier</strong> ;
                li <strong>Automatisation</strong> via Ansible pour accélerer les déploiements sur plusiers pays ;
                li Configuration des logiciels pour l'orchestrateur Rancher ;
                li Mise en place, tests et sizing d'un broker RabbitMQ.

        div.experience
            span.period Janvier 2017 - Décembre 2017 
            span.separator - 
            span.business-unit Boulanger
            p Ingénieur Logiciel et DevOps pour le projet Socle 3
            p.short-description
                | Conception d'un socle d'API hautement disponible pour les magasins Boulanger, et mise
                | en place des standards pour les futurs services :

            ul
                li
                    | Mise en place d'un <strong>orchestracteur Rancher</strong> et de middlewares hautement 
                    | disponibles : <strong>Kafka</strong>, <strong>ElasticSearch</strong> and <strong>MongoDB</strong> ;
                li Containerisation des applcations et middlewares ;
                li Automatisation du déploiement de l'infrastructure ;
                li <strong>Support et revues de code</strong>.

    div.worldline

        h3.employer Worldline - Lead Developer

        div.experience
            span.period Octobre 2016 - Décembre 2016 
            span.separator - 
            span.business-unit Ministères et Projets d'États
            p Imprimerie Nationale - Carte Mobilité Inclusion - France
            p.short-description
                | Création d'une application pour les personnes en situation de handicap afin de gérer 
                | leurs demandes de cartes de mobilité :

            ul
                li Étude et mise en place d'un framework répondant aux standards d'accessibilité (RGAA 3) ;
                li <strong>Conception et développement d'applications web et d'API</strong> ;
                li <strong>Support et formation</strong> de collègues sur Typescript et Angular ;
                li <strong>industrialisation</strong> du pipeline de build. 

        div.experience.july-2016.experience-pagebreak
            span.period July 2016 - December 2016
            p 
              strong Expert Technique - Développement Front-end et d'API.

        div.experience
            span.period Septembre 2015 - Décembre 2016 
            span.separator - 
            span.business-unit Ministères et Projets d'États
            p Ministère des Ponts et Chaussée - Grand Duché du Luxembourg
            p.short-description
                | Design and creation of an automated ticket processing system for road safety:
            ul
                li Design and development of a speed ticket processing UI;
                li <strong>State of the art</strong> implementation of a Javascript front-end application and Spring API;
                li Technical and functional <strong>client presentations and feedback gathering</strong>.

        div.experience
            span.period October 2013 - August 2015 
            span.separator - 
            span.business-unit Ministères et Projets d'États
            p Ministry of the Interior - France
            p.short-description
                | Extension of the French speed ticket processing chain to a multi-purpose infringement management
                | system:
            ul
                li Design and development of a ticket seizure UI for the French government;
                li Organization and implementation of complex business rules thanks to a validation framework on the front-end and middle-end.

        div.experience
            span.period January 2012 - September 2013 
            span.separator - 
            span.business-unit Ministères et Projets d'États
            p Ministry of the Interior - France
            p.short-description
                | Modernization of the French tax declaration by automating paper declarations processing:
            ul
                li <strong>Prototyping</strong> of a tax declaration processing chain for the French government;
                li Design and implementation of a declaration seizure UI for intensive users;
                li Analyze and optimizations to process <strong>large amounts of data</strong>;
                li Securization of the privacy of the citizen data thanks to <strong>high security standards</strong> (RSA, Hardware Security Module).

        div.experience
            span.period September 2011 - Décember 2011 
            span.separator - 
            span.business-unit Télécommunications, Utilities and Medias
            p SFR Group
            ul
                li Implementation of tools to <strong>automatize</strong> deployment across multiple environments.
                li Creation of a routing tool for message processing accross several testing environments.

    div.atos

        h3.employer Atos Worldline - Software Engineer

        div.experience
            span.period February 2008 - August 2011 
            span.separator - 
            span.business-unit Ministry and State Projects
            p Ministry of the Interior - France
            p.short-description
                | Creation of the ticket seizure and management for the French Ministry of the Interior:
            ul
                li Prototyping, design, development and end-user feedback collection of an intranet to manage French traffic tickets;
                li On-site <strong>assistance and monitoring</strong> during deployment.

        div.experience
            span.period October 2007 - January 2008 
            span.separator - 
            span.business-unit Télécommunications, Utilities and Medias
            p Orange Group
            ul
                li Implementation of new features for the Orange webmail.

        div.experience
            span.period July 2007 - September 2007 
            span.separator - 
            span.business-unit Retail et Industries
            p Auchan Group
            ul
                li <strong>Refactoring et integration</strong> of a new corporate identity for the AuchanDrive website.

        div.experience
            span.period September 2006 - June 2007 
            span.separator - 
            span.business-unit Ministry and State Projects
            p Ministry of the Interior - France
            p.short-description
                | Enhancements of the operational portal of the French automatic speed ticket management system:
            ul
                li Creation of <strong>statistical indicators</strong> to assist quality and monitoring teams;
                li Design and development of an intranet to assist remote device deployment.
