div#experience

    h2 Experience

    div.zenika

        h3.employer Zenika - IT Consultant &amp; Trainer

        div.experience
            span.period November 2018 - Present 
            span.separator - 
            span.business-unit Adeo Group - Leroy Merlin
            p Lead Engineer &amp; DevOps for the API team

            p.short-description
                | Evolution and design of the Leroy Merlin high-traffic and highly-available core business API,
                | data integrations pipelines, and customer services:

            ul
                li 
                  | <strong>Seamless migration</strong> of the Leroy Merlin stock API to make stock integrations 
                  | and restitutions more reliable and accurate;
                li <strong>Design and development</strong> of third-party products integration for the Leroy Merlin marketplace;
                li <strong>Code reviews and best practices</strong> for maintenaibility and faster API;
                li <strong>Automation and industrialization</strong> of development pipelines;
                li <strong>GKE and Openshift</strong> infrastructure architecture, migration and deployment automation;
                li <strong>Monitoring and Service Level Objectives</strong> specification and implementation.

            p.short-description
              | Creation of a platform to make partners and internal staff integration faster:

            ul
                li Use of <strong>business API and Kafka topics</strong> to gather and process data;
                li <strong>Code reviews</strong> and <strong>pair-programming</strong> to share about quality, maintainability and performance;
                li Automation of user data flows deployment on Openshift and/or GKE infrastructure.

        div.experience
            span.period January 2018 - November 2018 
            span.separator - 
            span.business-unit Adeo Group - Inhabitant Referential
            p DevOps for the customer system transformation
            p.short-description
                | Deployment and upgrade of new applications for GDPR conformity of the Adeo group
                | customer management application:

            ul
                li <strong>Application, middleware and business monitoring</strong> set-up and guidelines;
                li <strong>Automation</strong> via Ansible to handle deployment accross several countries;
                li Stack configuration for Rancher orchestrator;
                li RabbitMQ broker set-up, sizing and load-testing.

        div.experience
            span.period January 2017 - December 2017 
            span.separator - 
            span.business-unit Boulanger
            p Lead Developer and DevOps for the Socle 3 project
            p.short-description
                | Building of the fast and highly-available API foundations for the Boulanger retail company, as well as
                | setting the standards for the future Boulanger services:

            ul
                li
                    | Set-up of a Rancher <strong>orchestrator</strong> and highly-available middleware such
                    | as <strong>Kafka</strong>, <strong>Elasticsearch</strong> and <strong>MongoDB</strong>;
                li Application and middleware <strong>containerization</strong> via Docker;
                li Fully automation of infrastructure and deployment;
                li Provide <strong>support and code reviews</strong>.

    div.worldline

        h3.employer Worldline - Lead Developer

        div.experience
            span.period October 2016 - December 2016 
            span.separator - 
            span.business-unit Ministry and State Projects
            p Imprimerie Nationale - Mobility and Inclusion Card project - France
            p.short-description
                | Creation of an application to allow citizens with disabilities to easily manage their
                | disability card requests:

            ul
                li Study and set-up of a framework reaching accessibility requirements (RGAA 3);
                li <strong>Design and development of web applications and API</strong>;
                li <strong>Training and support</strong> of co-workers on Typescript and Angular;
                li Build process <strong>industrialization</strong>.

        div.experience.july-2016.experience-pagebreak
            span.period July 2016 - December 2016
            p 
              strong Technical Expert - Front-end and API development.

        div.experience
            span.period September 2015 - December 2016 
            span.separator - 
            span.business-unit Ministry and State Projects
            p Ponts et Chaussée Ministry - Great-Duchy of Luxembourg
            p.short-description
                | Design and creation of an automated ticket processing system for road safety:
            ul
                li Design and development of a speed ticket processing UI;
                li <strong>State of the art</strong> implementation of a Javascript front-end application and Spring API;
                li Technical and functional <strong>client presentations and feedback gathering</strong>.

        div.experience
            span.period October 2013 - August 2015 
            span.separator - 
            span.business-unit Ministry and State Projects
            p Ministry of the Interior - France
            p.short-description
                | Extension of the French speed ticket processing chain to a multi-purpose infringement management
                | system:
            ul
                li Design and development of a ticket seizure UI for the French government;
                li Organization and implementation of complex business rules thanks to a validation framework on the front-end and back-end.

        div.experience
            span.period January 2012 - September 2013 
            span.separator - 
            span.business-unit Ministry and State Projects
            p Ministry of the Interior - France
            p.short-description
                | Modernization of the French tax declaration by automating paper declarations processing:
            ul
                li <strong>Prototyping</strong> of a tax declaration processing chain for the French government;
                li Design and implementation of a declaration seizure UI for intensive users;
                li Analyze and optimizations to process <strong>large amounts of data</strong>;
                li Securization of the privacy of the citizen data thanks to <strong>high security standards</strong> (RSA, Hardware Security Module).

        div.experience
            span.period September 2011 - December 2011 
            span.separator - 
            span.business-unit Telecommunications, Utilities and Medias
            p SFR Group
            ul
                li Implementation of tools to <strong>automatize</strong> deployment across multiple environments;
                li Creation of a routing tool for message processing accross several testing environments.

    div.atos

        h3.employer Atos Worldline - Software Engineer

        div.experience
            span.period February 2008 - August 2011 
            span.separator - 
            span.business-unit Ministry and State Projects
            p Ministry of the Interior - France
            p.short-description
                | Creation of the ticket seizure and management for the French Ministry of the Interior:
            ul
                li Prototyping, design, development and end-user feedback collection of an application to manage French traffic tickets;
                li On-site <strong>assistance and monitoring</strong> during deployment.

        div.experience
            span.period October 2007 - January 2008 
            span.separator - 
            span.business-unit Telecommunications, Utilities and Medias
            p Orange Group
            ul
                li Implementation of new features for the Orange webmail.

        div.experience
            span.period July 2007 - September 2007 
            span.separator - 
            span.business-unit Retail and Industries
            p Auchan Group
            ul
                li <strong>Refactoring et integration</strong> of a new corporate identity for the AuchanDrive website.

        div.experience
            span.period September 2006 - June 2007 
            span.separator - 
            span.business-unit Ministry and State Projects
            p Ministry of the Interior - France
            p.short-description
                | Enhancements of the operational portal of the French automatic speed ticket management system:
            ul
                li Creation of <strong>statistical indicators</strong> to assist quality and monitoring teams;
                li Design and development of an intranet to assist remote device deployment.
