div#experience

    h2 Experience

    div.exotec

        h3.employer Exotec - R&amp;D Engineer

        div.experience
            span.period November 2021 - Present 
            span.separator - 
            span.business-unit Research &amp; Development
            p.title Software Engineer for the DeepSky product

            p.short-description
                | Design and evolution of the Warehouse Control System, to centralize logistic data
                | and business development logic:

            ul
                li <strong>Design and development</strong> of logistic features, and REST API to control the Exotec products;
                li Gathering, computation and dashboarding of <strong>performance indicators</strong> via OpenSearch;
                li <strong>Code reviews</strong> and set-up of automated tests.

    div.zenika

        h3.employer Zenika - IT Consultant &amp; Trainer

        div.experience
            span.period May 2021 - November 2021 
            span.separator - 
            span.business-unit Decathlon
            p.title Software &amp; DevOps Engineer for the Customer Relation team

            p.short-description
                | Cloud migration of the customer relation products:

            ul
                li 
                    | <strong>Containerization and deployment</strong> of a microservice architecture to GKE,
                    | load-testing and performance tuning;
                li Deployment automations via Github and Kustomize;
                li <strong>Observability</strong> improvements via Datadog;

        div.experience
            span.period November 2018 - July 2021 
            span.separator - 
            span.business-unit Adeo Group - Leroy Merlin
            p.title Software &amp; DevOps Engineer for the API team

            p.short-description
                | Evolution and design of the Leroy Merlin high-traffic and highly-available core business API,
                | data integrations pipelines, and customer services:

            ul
                li 
                  | <strong>Seamless migration</strong> of the stock API to make data integration 
                  | and restitution more reliable and accurate;
                li <strong>Design and development</strong> of third-party products integration for the Leroy Merlin marketplace;
                li <strong>Code reviews and best practices</strong> for maintenaibility and faster API;
                li <strong>GKE and Openshift</strong> infrastructure architecture, migration and <strong>deployment automation</strong>;
                li <strong>Monitoring and Service Level Objectives</strong> specification and implementation.

            p.short-description
              | Creation of a platform to make partners and internal staff integration faster:

            ul
                li Use of <strong>business API and Kafka topics</strong> to gather and process data;
                li <strong>Code reviews</strong> and <strong>pair-programming</strong> to ensure quality, maintainability and performance;
                li Automation of user data flows deployment on Openshift and/or GKE infrastructure.

        div.experience
            span.period January 2018 - November 2018 
            span.separator - 
            span.business-unit Adeo Group - Inhabitant Referential
            p.title DevOps for the customer system transformation
            p.short-description
                | Deployment and upgrade of new applications for GDPR conformity of the Adeo group
                | customer management applications:

            ul
                li <strong>Application, middleware and business monitoring</strong> set-up and guidelines;
                li <strong>Automation</strong> via Ansible to handle deployment accross several countries;
                li Stack configuration for Rancher orchestrator, including RabbitMQ broker set-up, sizing and load-testing.

        div.experience
            span.period January 2017 - December 2017 
            span.separator - 
            span.business-unit Boulanger
            p.title Lead Developer and DevOps for the Socle 3 project
            p.short-description
                | Building of the fast and highly-available API foundations for the Boulanger retail company, as well as
                | setting the standards for the future Boulanger services:

            ul
                li
                    | Set-up of a Rancher <strong>orchestrator</strong> and highly-available middleware such
                    | as <strong>Kafka</strong>, <strong>Elasticsearch</strong> and <strong>MongoDB</strong>;
                li Application and middleware <strong>containerization</strong> via Docker, and fully automation of infrastructure and deployment;
                li Provide <strong>support and code reviews</strong>.

    div.experience-pagebreak
    div.worldline

        h3.employer Worldline - Lead Developer

        div.experience
            span.period October 2016 - December 2016 
            span.separator - 
            span.business-unit Ministry and State Projects
            p.title Imprimerie Nationale - Mobility and Inclusion Card project - France
            p.short-description
                | Creation of an application to allow citizens with disabilities to easily manage their
                | disability card requests:

            ul
                li Study and set-up of a framework reaching accessibility requirements (RGAA 3);
                li <strong>Design and development of web applications and API</strong>;
                li <strong>Training and support</strong> of co-workers on Typescript and Angular;
                li Build process <strong>industrialization</strong>.

        div.experience.july-2016
            span.period July 2016 - December 2016
            p 
              strong Technical Expert - Front-end development.

        div.experience
            span.period September 2015 - December 2016 
            span.separator - 
            span.business-unit Ministry and State Projects
            p.title Ponts et Chaussées Ministry - Great-Duchy of Luxembourg
            p.short-description
                | Design and creation of an automated ticket processing system for road safety:
            ul
                li Design and development of a speed ticket processing UI;
                li <strong>State of the art</strong> implementation of a Javascript front-end application and Spring API;
                li Technical and functional <strong>client presentations and feedback gathering</strong>.

        div.experience
            span.period October 2013 - August 2015 
            span.separator - 
            span.business-unit Ministry and State Projects
            p.title Ministry of the Interior - France
            p.short-description
                | Extension of the French speed ticket processing chain to a multi-purpose infringement management
                | system:
            ul
                li Design and development of a ticket seizure UI for the French government;
                li Organization and implementation of complex business rules thanks to a validation framework on the front-end and back-end.

        div.experience
            span.period January 2012 - September 2013 
            span.separator - 
            span.business-unit Ministry and State Projects
            p.title Ministry of the Interior - France
            p.short-description
                | Modernization of the French tax declaration by automating paper declarations processing:
            ul
                li <strong>Prototyping</strong> of a tax declaration processing chain for the French government;
                li Design and implementation of a declaration seizure UI for intensive users;
                li Analyze and optimizations to process <strong>large amounts of data</strong>;
                li Securization of the privacy of the citizen data thanks to <strong>high security standards</strong> (RSA, Hardware Security Module).

        div.experience
            span.period September 2011 - December 2011 
            span.separator - 
            span.business-unit Telecommunications, Utilities and Medias
            p.title SFR Group
            ul
                li Implementation of tools to <strong>automatize</strong> deployment across multiple environments;
                li Creation of a routing tool for message processing accross several testing environments.

    div.atos

        h3.employer Atos Worldline - Software Engineer

        div.experience
            span.period February 2008 - August 2011 
            span.separator - 
            span.business-unit Ministry and State Projects
            p.title Ministry of the Interior - France
            p.short-description
                | Creation of the ticket seizure and management for the French Ministry of the Interior:
            ul
                li Prototyping, design, development and end-user feedback collection of an application to manage French traffic tickets;
                li On-site <strong>assistance and monitoring</strong> during deployment.

        div.experience
            span.period July 2007 - January 2008 
            span.separator - 
            span.business-unit Retail and Industries / Telecommunications, Utilities and Medias
            p.title Auchan Group
            ul
                li <strong>Refactoring et integration</strong> of a new corporate identity for the AuchanDrive website.
            p.title Orange Group
            ul
                li Implementation of new features for the Orange webmail.

        div.experience
            span.period September 2006 - June 2007 
            span.separator - 
            span.business-unit Ministry and State Projects
            p.title Ministry of the Interior - France
            p.short-description
                | Enhancements of the operational portal of the French automatic speed ticket management system:
            ul
                li Creation of <strong>statistical indicators</strong> to assist quality and monitoring teams;
                li Design and development of an intranet to assist remote device deployment.
