div#introduction.row

    div.col-9
        h1 Maxime Wojtczak
        div.description
          | Ingénieur Logiciel emprunt de la culture DevOps. Fournit des produits de la conception à
          | la production dans les domaines de la vente au détail et gouvernementaux depuis plus de 10 ans.
          | Flexible, passionné et créatif, j'aime également partager en tant que formateur.

    div#photograph.col-3
        img(src="images/maxime-wojtczak-sms.jpeg")

div.contact
    dl
        dt.email.fas.fa-envelope(title="Email")
        dd maxime.wojtczak@yahoo.fr
        dt.phone.fas.fa-mobile-alt(title="Phone")
        dd +33 6 27 09 12 72
        dt.github.fab.fa-github(title="Github")
        dd 
          a(href='https://github.com/maxwo') github.com/maxwo
        dt.linkedin.fab.fa-linkedin(title="LinkedIn")
        dd 
          a(href='https://linkedin.com/in/maxwoj') linkedin.com/in/maxwoj
        dt.location.fas.fa-map-marker-alt(title="Nationality")
        dd Lille, France
